<!-- links username to repo here

<div class="container">
  <h3 style='color: rgba(0,0,0,0.6)'>View Repositories</h3>
  <hr>
  <div *ngFor="let repo of repos">
    <div class="row">
      <div class="col-md-12">
        <h4 style="color: deepskyblue;">
          <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
        </h4>
        <p class="badge badge-warning">Description</p>
        <p>{{repo.description}}</p>
      </div>
      <div class="col-md-12">
        <p class="badge badge-info">{{repo.watchers}} Watchers</p>
        <p class="badge badge-success">{{repo.forks}} Forks</p>
        <p class="badge badge-secondary">{{repo.stargazers_count}} Stars</p>
        <hr>
      </div>
    </div>
  </div>
</div> -->