<!-- User name: <input type="text" [(ngModel)]="userName">
<button (click)="search()">Search</button> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Github</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Github Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">GitHub Repos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Github Users</a>
      </li>
    </ul>

    User name: <input type="text" placeholder="Enter Github Username" [(ngModel)]="userName">
    <button (click)="search()">Search</button>
  </div>
</nav>


<div class="jumbotron">
  <div *ngIf="response">
    <h1 class="display-3"> Username: {{response.login}} </h1>
    <p class="lead">Profile Picture
      <br>
      <br>
      <img src="{{response.avatar_url}}"></p>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Company: {{response.company}}
        <span class="badge badge-primary badge-pill">Number Of Followers: {{response.followers}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Number Of Followings: {{response.following}}
        <span class="badge badge-primary badge-pill">Biography: {{response.bio}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Morbi leo risus
        <span class="badge badge-primary badge-pill">1</span>
      </li>
    </ul>

    <hr class="my-4">
    <p>Available for hire: {{response.hireable}}</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Location: {{response.location}}</a>
    </p>

    <!-- <p> Login name: {{response.login}} </p> -->
    <p>Number Of Repos: {{response.public_repos}}</p>
    <!-- <p>Profile Picture <img src="{{response.avatar_url}}"></p> -->
    <p>Number Of Gists: {{response.public_gists}}</p>
    <p></p>
    <p>Name: {{response.name}}</p>
    <p>Email: {{response.email}}</p>

    <p>{{reporesponse.name}}</p>



    <!--
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Repository: {{response.repos_url}}</a>
    </p> -->


    <!-- <div class="container">
      <h3 style='color: rgba(0,0,0,0.6)'>View Repositories</h3> Repositories: <input type="text" placeholder="Enter Name Of Repository" [(ngModel)]="repoName">
      <button (click)="searchrepo()">Search Repository</button>
      <hr>
      <div *ngFor="let repo of repos">
        <div class="row">
          <div class="col-md-12">
            <h4 style="color: deepskyblue;">
            <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
          </h4>
            <p class="badge badge-warning">Description</p>
            <p>{{repo.description}}</p>
          </div>
          <div class="col-md-12">
            <p class="badge badge-info">{{repo.watchers}} Watchers</p>
            <p class="badge badge-success">{{repo.forks}} Forks</p>
            <p class="badge badge-secondary">{{repo.stargazers_count}} Stars</p>
            <hr>
          </div>
        </div>
      </div>
    </div> -->
  </div>


  <div class="footer">
    <p> Created By Melissa Malala &#169; August 2018.</p>
  </div>
</div>